@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap");

body {
  font-family: 'Rubik', sans-serif;
}

* {
  box-sizing: border-box;
  margin: unset;
}

p{
  margin: 4px 0px;
}

html{
  background-color: #fafafa;
}

.App {
  /* display: flex; */
  width: 100%;
  padding: 40px;
  background-color: #fafafa;
  height: 100vh;
  /* justify-content: space-around; */
}

.flex{
  display: flex;
}

.flex .column {
  flex: 1;
  padding: 0px 8px;
}

.droppable-col {
  width: 100%;
  min-height: 200px;
  background-color: #f7f7f7;
  padding: 10px;
  border-radius: 7px;
  display: flex;
  flex-direction: column;
}

.profile-name{
  color: #2a2a2a;
  font-weight: 500;
  margin-top: 10px;
}

.profile-image{
  height: 60px;
  width: 60px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}

.profile-desc{
  font-size: 12px;
}

.profile-daysago {
  font-size: 12px;
  position: relative;
  top: 4px;
}

.pull-right{
  float:right;
}

.item {
  margin-bottom: 15px;
  background-color: #ffffff;
  color: #999999;
  border: 1px solid #eeeeee;
  padding: 15px;
  border-radius: 8px;
}

.item.dragging {
  background-color: coral;
}

.department{
  background-color: #f3f3f3;
  color: #2a2a2a;
  border: 1px solid #eeeeee;
  border-radius: 20px;
  padding: 2px 8px;
  margin-bottom: 15px;
  display: inline-block;
  font-size: 12px;
}

.newApplicants{
  color:#F07C7C;
  margin-bottom: 15px;
}

.profile-review{
  color:#ffb12b;
  margin-bottom: 15px;
}


.telephonic-interview{
  color:#f09eff;
  margin-bottom: 15px;
}

.selected{
  color:#86dcff;
  margin-bottom: 15px;
}

.attachment-icon{
  font-size: 28px!important;
  background-color: #f3f3f3;
  border-radius: 100%;
  padding: 5px;
  color: #999999;
}

.standard-button{
  background-color: #2a2a2a;
  border: 0;
  padding: 10px 20px;
  color: #fff;
  border-radius: 50px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

.addCandidate-right{
  float: right;
  position: relative;
  top: -60px;
}


.MuiFormHelperText-root{
  top: -24px;
  letter-spacing: 0.03333em;
  position: relative;
}